{#
  Variable required:
    - board
    - user
#}

{% extends "TeapotioSiteBundle:component:navigation/global.html.twig" %}

{% block Navigation_class %}{{ parent() }} Navigation--actions{% if board is not null %} Navigation--actionsInBoard{% endif %}{% endblock %}

{% block Navigation_content %}
  {% spaceless %}
    {% if board is not null %}
      {% if user|can_create_topic(board) == true %}
        <li>
          <a href="{{ forum_path("ForumNewTopic", board) }}" class="Navigation--actions-button Navigation--actions-button--newTopic">
            {% trans %}New.topic{% endtrans %}
            <span>{% trans with {"%title%": board.title} %}in.%title%{% endtrans %}</span>
          </a>
        </li>
      {% endif %}

      {% if user|can_create_board(board) == true %}
        <li>
          <a href="{{ forum_path("ForumNewBoardInBoard", board) }}" class="Navigation--actions-button Navigation--actions-button--newBoard">
            {% trans %}New.board{% endtrans %}
            <span>{% trans with {"%title%": board.title} %}in.%title%{% endtrans %}</span>
          </a>
        </li>
      {% endif %}

      {% if user|can_edit(board) == true %}
        <li>
          <a href="{{ forum_path("ForumEditBoard", board) }}" class="Navigation--actions-button Navigation--actions-button--editBoard">
            {% trans %}Edit.board{% endtrans %}
            <span>{{ board.title }}</span>
          </a>
        </li>
      {% endif %}
    {% else %}
      {% if user|can_create_topic(null) == true %}
        <li>
          <a href="{{ forum_path("ForumNewTopicWithoutBoard") }}" class="Navigation--actions-button Navigation--actions-button--newTopic">
            {% trans %}New.topic{% endtrans %}
          </a>
        </li>
      {% endif %}

      {% if user|can_create_board(null) == true %}
        <li>
          <a href="{{ forum_path("ForumNewBoard") }}" class="Navigation--actions-button Navigation--actions-button--newBoard">
            {% trans %}New.board{% endtrans %}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endspaceless %}
{% endblock %}
