<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    {% stylesheets '@TeapotioSiteBundle/Resources/public/css/fontawesome/font-awesome.css'
                   '@TeapotioSiteBundle/Resources/public/css/redactor/redactor.css'
                   '@TeapotioSiteBundle/Resources/public/css/beer/ui/link.css'
                   '@TeapotioSiteBundle/Resources/public/css/beer/ui/button.css'
                   '@TeapotioSiteBundle/Resources/public/css/beer/ui/heading.css'
                   '@TeapotioSiteBundle/Resources/public/css/beer/ui/module.css'
                   '@TeapotioSiteBundle/Resources/public/css/beer/ui/display.css'
                   '@TeapotioSiteBundle/Resources/public/css/beer/ui/font.css'
                   '@TeapotioSiteBundle/Resources/public/css/simple/*' %}
      <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{% block page_title %}{% if page_title is defined %}{{ page_title }}{% endif %}{% endblock %}</title>
  </head>
  <body{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.settings and (app.user.settings.backgroundImage or app.user.settings.backgroundColor) %} style="{% if app.user.settings.backgroundImage %}background-image: url({{ image(app.user.settings.backgroundImage.webPath) }});{% endif %}{% if app.user.settings.backgroundTiled == false %}background-repeat: no-repeat;{% endif %}{% if app.user.settings.backgroundColor %}background-color: #{{ app.user.settings.backgroundColor }};{% endif %}"{% endif %}>

    <div class="container">
      {% block container %}

      {% endblock %}
    </div>

    {#
      Consider keeping this here to show your support for Teapotio Forum
      You can change the size of the text by adding one of the class below:
        - tiny
        - small
        - medium
        - large
    #}
    <footer class="footer small" id="bottom">
      <a href="http://teapotio.io"><i class="icon-bolt"></i> / teapot<span>io</span></a>
    </footer>

    {% javascripts '@TeapotioSiteBundle/Resources/public/js/jquery.js'
                   '@TeapotioSiteBundle/Resources/public/js/redactor/redactor.js'
                   '@TeapotioSiteBundle/Resources/public/js/teapotio/page.js'
                   '@TeapotioSiteBundle/Resources/public/js/teapotio/wysiwyg.js'
                   '@TeapotioSiteBundle/Resources/public/js/teapotio/ui.js'
                   '@TeapotioSiteBundle/Resources/public/js/teapotio/events.js'
                   '@TeapotioSiteBundle/Resources/public/js/main.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% block custom_js %}
    {% endblock %}
  </body>
</html>
