<div class="{% block Moderation_class %}Moderation{% endblock %}">
  {% set moderatedItemName = 'a.' ~ moderation.moderatedItemName %}

  <div class="Moderation-date">{{ moderation.dateCreated|date }}</span>

  <div class="Moderation-info">
    <a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: moderation.user.slug, userId: moderation.user.id }) }}">
      {{ moderation.user.username }}
    </a>
    {{ moderation.actionName|trans }} {{ moderatedItemName|trans }}
  </div>

  {% block Moderation_content %}{% endblock %}
</div>
