{#
  Required:
    - message (array|string)
  Optional:
    - actions: [{
        href:  '',
        text:  '',
        class: ''
      }]
#}

<div class="{% block Prompt_class %}Prompt{% endblock %}">
  {% block Prompt_content %}
    {% if message is iterable %}
      <ul class="Prompt-message">
        {% for m in message %}
          <li>{{ m }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="Prompt-message">
        {{ message }}
      </p>
    {% endif %}
  {% endblock %}

  {% if actions is defined %}
    <ul class="Prompt-actions">
      {% for action in actions %}
        <li>
          <a href="{{ action.path }}" class="{% if action.class is defined %}{{ action.class }}{% endif %}">
            {{ action.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
