{% extends "TeapotioBaseForumBundle:Layout:content_wrapper.html.twig" %}

{% block content %}

<div class="user-settings-avatar">

  <h2>{% trans %}Add.image.to.avatar{% endtrans %}</h2>

  <form action="{{ path('TeapotioBaseUserBundle_addImage') }}" method="post" {{ form_enctype(formImage) }}>

    {{ form_widget(formImage) }}

    <button class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>

  </form>

  {% if user.avatars.count > 0 %}

    <h4>{% trans %}Current.avatars{% endtrans %}</h4>

    {% for image in user.avatars %}
      <a href="{{ path('TeapotioBaseUserBundle_setDefaultImage', {imageId: image.id}) }}"><img src="{{ image(image.webPath).forceResize(50, null).crop(0,0,50,50) }}" class="{% if image.id == user.defaultAvatar.id %}default-avatar{% endif %}" /></a>
    {% endfor %}

  {% endif %}

</div>

<div class="user-settings-description">

  <h2>{% trans %}Add.a.description{% endtrans %}</h2>

  <form action="{{ path('TeapotioBaseUserBundle_setDescription') }}" method="post" {{ form_enctype(formDescription) }}>

    {{ form_widget(formDescription) }}

    <button class="btn btn-primary">{% trans %}Submit{% endtrans %}</button> <div class="feedback"></div>
  </form>

</div>


<div class="user-settings-customize">

  <h2>{% trans %}Customize.style{% endtrans %}</h2>

  {% if user.settings.backgroundImage is null %}
    <div class="alert info">{% trans %}No.background.uploaded{% endtrans %}</div>
  {% endif %}

  <form action="{{ path('TeapotioBaseUserBundle_setSettings') }}" method="post" class="" {{ form_enctype(formSettings) }}>

    {{ form_row(formSettings.backgroundColor) }}

    {{ form_row(formSettings.backgroundImage) }}

    {{ form_row(formSettings.backgroundTiled) }}

    {{ form_rest(formSettings) }}

    <button class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>

  </form>

</div>

{% endblock %}