{% spaceless %}
  {% if showRoot is defined and showRoot == true %}
    <a href="{{ forum_path("ForumListLatestTopics") }}" class="to-main">{% trans %}Forum{% endtrans %}</a>
    {% if board is not null %}
      <i class="icon-caret-right"></i>
    {% endif %}
  {% endif %}
  {% if board is not null %}
    {% set parents = board.parents %}
    {% for parent in parents %}
      <a href="{{ forum_path("ForumListTopicsByBoard", parent) }}" class="to-main">{{ parent.title }}</a>
      <i class="icon-caret-right"></i>
    {% endfor %}
    <a href="{{ forum_path("ForumListTopicsByBoard", board) }}" class="to-main">{{ board.title }}</a>
    {% if topic is defined and topic is not null %}
      <i class="icon-caret-right"></i>
      <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}" class="to-main">{{ topic.title }}</a>
    {% endif %}
  {% endif %}
{% endspaceless %}