{% if level == 0 %}
  {% set fontClass = 'font-xlarge' %}
{% elseif level == 1 %}
  {% set fontClass = 'font-large' %}
{% else %}
  {% set fontClass = 'font-medium' %}
{% endif %}

{% if app.user|can_view(board) == true %}
  <li class="csrow cslvl{{ level}} {% if level == 0 %} hide-on-minimized{% endif %} {% if board.children.count == 0 %}childless {% if loop.index0 % 2 %}even{% else %}uneven{% endif %}{% endif %}{% if current_board is defined and current_board is not null and current_board.id == board.id %} selected{% endif %}">
    {% if board.children.count != 0 %}
      <a href="{{ forum_path("ForumListTopicsByBoard", board) }}" class="pull-right to-main"><i class="icon-chevron-right"></i></a>
      <div href="#" class="expand-subcategory">{{ board.title }}</div>
    {% else %}
      <a href="{{ forum_path("ForumListTopicsByBoard", board) }}" class="to-main">
        {{ board.title }}
      </a>
    {% endif %}
    {% if board.children.count != 0 %}
      <ul class="hide">
        {% for b in board.children %}
          {% include "TeapotioForumBundle:Board:modules/individualConciseRow.html.twig" with {board: b, level: level + 1} %}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endif %}