{% set moderatedItemName = 'a.' ~ moderation.moderatedItemName %}
<span class="date">{{ moderation.dateCreated|date }}</span>

<a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: moderation.user.slug, userId: moderation.user.id }) }}" class="to-main">{{ moderation.user.username }}</a>
{{ moderation.actionName|trans }} {{ moderatedItemName|trans }}
{% if moderation.message is not null %}
    <span>{{ moderation.message.body|striptags|slice(0,128) }}...</span> {% trans %}in{% endtrans %} <a href="{{ forum_path('ForumListMessagesByTopic', moderation.message.topic) }}" class="to-main">{{ moderation.message.topic.title }}</a>
{% elseif moderation.topic is not null %}
    <a href="{{ forum_path('ForumListMessagesByTopic', moderation.topic) }}" class="to-main">{{ moderation.topic.title }}</a>
{% elseif moderation.board is not null %}
    <a href="{{ forum_path('ForumListTopicsByBoard', moderation.board) }}" class="to-main">{{ moderation.board.title }}</a>
{% endif %}
