<div class="topic-row{% block row_class %}{% endblock %}">

  {% block row_author_topic %}
    {% include "TeapotioUserBundle:Modules:avatar.html.twig"
       with {class: "topic-author", user: topic.user, size: 50} %}
  {% endblock %}

  {% block row_author_response %}
    {% if topic.lastUser is not null %}
      {% include "TeapotioUserBundle:Modules:avatar.html.twig"
         with {class: "response-author", user: topic.lastUser, size: 50} %}
    {% endif %}
  {% endblock %}

  <div class="topic-row-content">
    {% block row_body %}

      {% block row_icons %}
        {% if topic.isPinned == true or topic.isLocked == true %}
          <div class="module round topic-icons">
            {% if topic.isPinned == true %}
              <i class="icon-pushpin"></i>
            {% endif %}
            {% if topic.isLocked == true %}
              <i class="icon-lock"></i>
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}

      {% block row_last_page_paginator %}
        {% if messages_per_age is defined %}
          {% set last_page = get_last_page(topic.totalPosts, messages_per_page) %}
          <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}{% if last_page > 1 %}?page={{ last_page }}{% endif %}{% if topic.totalPosts != 0 %}#message-{{ topic.totalPosts }}{% endif %}" class="topic-last-page to-main"><i class="icon-chevron-right"></i></a>
        {% endif %}
      {% endblock %}

      {% block row_title %}
        <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}{% if topic.totalPosts != 0 %}#{{ topic.totalPosts }}{% endif %}" class="topic to-main">
          <div class="topic-stats">
            <i class="icon-eye-open"></i> {{ topic.shortTotalViews }}
            <i class="icon-comments-alt"></i> {{ topic.shortTotalPosts }}
          </div>
          {{ topic.title }}
        </a>
      {% endblock %}

      {% block row_info %}
        <div class="topic-info">
          <span class="date">
            {{ topic.lastMessageDate|timeSince(1) }}
          </span>
          {% if showBoard is defined and showBoard == true %}
            <span class="topic-breadcrumb">
              {% include "TeapotioForumBundle:Board:modules/breadcrumb.html.twig" with {board: topic.board, topic: null} %}
            </span>
          {% endif %}
        </div>
      {% endblock %}

    {% endblock %}
  </div>

</div>