{% extends "TeapotioSiteBundle:component:breadcrumb/base.html.twig" %}

{% block Breadcrumb_class %}{{ parent() }} Breadcrumb--board{% endblock %}

{% block Breadcrumb_content %}
  {% spaceless %}
    {% if showRoot is defined and showRoot == true %}
      {% set parent_boards = get_boards() %}
      <li class="Breadcrumb--board-item">
        <a class="Breadcrumb--board-item-link" href="{{ forum_path("ForumListLatestTopics") }}">
          {% trans %}Forum{% endtrans %}
          {% if parent_boards.count %}
            <i class="fa fa-chevron-down"></i>
          {% endif %}
        </a>

        {% if parent_boards.count %}
          {% include "TeapotioForumBundle:component:breadcrumb/board/dropdown.html.twig" with {boards: parent_boards, parent: null} %}
        {% endif %}
      </li>
    {% endif %}
    {% if board is not null %}
      {% set parents = board.parents %}

      {% for parent in parents %}
        <li class="Breadcrumb--board-item">
          <a class="Breadcrumb--board-item-link" href="{{ forum_path("ForumListTopicsByBoard", parent) }}">
            {{ parent.title }}
            {% if parent.children.count %}
              <i class="fa fa-chevron-down"></i>
            {% endif %}
          </a>

          {% if parent.children.count %}
            {% include "TeapotioForumBundle:component:breadcrumb/board/dropdown.html.twig" with {boards: parent.children, parent: parent} %}
          {% endif %}
        </li>
      {% endfor %}

      <li class="Breadcrumb--board-item">
        <a class="Breadcrumb--board-item-link" href="{{ forum_path("ForumListTopicsByBoard", board) }}">
          {{ board.title }}
          {% if board.children.count %}
            <i class="fa fa-chevron-down"></i>
          {% endif %}
        </a>

        {% if board.children.count %}
          {% include "TeapotioForumBundle:component:breadcrumb/board/dropdown.html.twig" with {boards: board.children, parent: board} %}
        {% endif %}
      </li>

      {% if topic is defined and topic is not null %}
        <li>
          <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}">{{ topic.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endspaceless %}
{% endblock %}
