<tr class="{% block TopicRow_class %}TopicRow{% if current_board is defined and current_board is not null and current_board.children.count == 0 %} TopicRow--boardChildless{% endif %}{% endblock %}">
  <td class="TopicRow-author">
    {% block TopicRow_author_content %}
      {% include "TeapotioUserBundle:component:avatar.html.twig"
         with {user: topic.user, size: 40} %}
    {% endblock %}
  </td>

  <td class="TopicRow-content">
    {% block TopicRow_content %}
      <div class="TopicRow-content-lastPage">
        {% block TopicRow_content_lastPage_content %}
          {% if messages_per_age is defined %}
            {% set last_page = get_last_page(topic.totalPosts, messages_per_page) %}
            <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}{% if last_page > 1 %}?page={{ last_page }}{% endif %}{% if topic.totalPosts != 0 %}#message-{{ topic.totalPosts }}{% endif %}" class="topic-last-page to-main"><i class="icon-chevron-right"></i></a>
          {% endif %}
        {% endblock %}
      </div>

      <div class="TopicRow-content-board">
        <a href="{{ forum_path("ForumListTopicsByBoard", topic.board) }}">
          {{ topic.board.title }}
        </a>
      </div>

      <div class="TopicRow-content-title">
        {% if topic.isPinned == true %}
          <span class="TopicRow-states-pinned"></span>
        {% endif %}
        {% if topic.isLocked == true %}
          <span class="TopicRow-states-locked"></span>
        {% endif %}
        {% block TopicRow_content_title_content %}
          <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}{% if topic.totalPosts != 0 %}#{{ topic.totalPosts }}{% endif %}">
            {{ topic.title }}
          </a>
        {% endblock %}
      </div>
    {% endblock %}
  </td>

  <td class="TopicRow-responder">
    {% block TopicRow_responder_content %}
      {% if topic.lastUser is not null %}
        {% include "TeapotioUserBundle:component:avatar.html.twig"
           with {user: topic.lastUser, size: 40} %}
      {% endif %}
    {% endblock %}
  </td>

  <td class="TopicRow-statsTotalViews">
    {% block TopicRow_statsTotalViews_content %}
      {{ topic.shortTotalViews }}
    {% endblock %}
  </td>

  <td class="TopicRow-statsTotalPosts">
    {% block TopicRow_statsTotalPosts_content %}
      {{ topic.shortTotalPosts }}
    {% endblock %}
  </td>

  <td class="TopicRow-actions">
    {% block TopicRow_actions_content %}
    {% endblock %}
  </td>
</tr>
