<span class="date">{{ flag.dateCreated|date }}</span>
{% set flaggedItemName = 'a.' ~ flag.flaggedItemName %}
<a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: flag.users[0].slug, userId: flag.users[0].id }) }}" class="to-main">{{ flag.users[0].username }}</a>
{% if flag.users.count > 1 %}
  {% trans %}and{% endtrans %} {{ flag.users.count - 1 }} {% trans%}users{% endtrans %}
{% endif %}
{% trans %}flagged{% endtrans %}
{% if flag.message is not null %}
    <span class="">{{ flag.message.body|striptags|slice(0,128) }}...</span> {% trans %}in{% endtrans %} <a href="{{ forum_path('ForumListMessagesByTopic', flag.message.topic) }}" class="to-main">{{ flag.message.topic.title }}</a>
{% elseif flag.topic is not null %}
    <a href="{{ forum_path('ForumListMessagesByTopic', flag.topic) }}" class="to-main">{{ flag.topic.title }}</a>
{% endif %}