{% extends "TeapotioBaseForumBundle:Layout:content_wrapper.html.twig" %}

{% block content_wrapper_class %} board-settings{% endblock %}

{% block content %}
  <div class="module round">
    <h3>{% trans %}Edit.board.data{% endtrans %}</h3>

    <form action="" method="post" {{ form_enctype(form) }} class="two-col">

      <p class="alert special info">
        <i class="icon-info-sign"></i>
        {% trans %}The.board.url.is.created.based.on.the.short.title{% endtrans %}
      </p>

      {{ form_errors(form) }}

      {{ form_widget(form) }}

      <button class="btn btn-success pull-right">{% trans %}Edit.board{% endtrans %}</button>

    </form>
  </div>

  <div class="module round">
    <h3>{% trans %}Move.topics.and.delete.board{% endtrans %}</h3>

    <form action="{{ forum_path('ForumDeleteBoard', current_board) }}" method="post">

      <p class="alert special info">
        <i class="icon-info-sign"></i>
        {% trans %}Move.topics.and.delete.board.notice{% endtrans %}
      </p>

      {% if app.session.flashbag.has('delete_error') == true %}

        <div class="alert alert-danger">

          {% for message in app.session.flashbag.get('delete_error') %}

            {{ message }}

          {% endfor %}

        </div>

      {% endif %}


      {% trans %}Move.content.to{% endtrans %}
      {% set boards = get_boards() %}
      {% include "TeapotioForumBundle:Board:modules/select.html.twig" with {boards: boards, name: "board_id", class: "input-large"} %}
      {% trans %}and{% endtrans %}

      <button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>

    </form>
  </div>

  <div class="module round">
    <h3>{% trans %}Move.board{% endtrans %}</h3>

    <form action="" method="post" class="form-inline">

      {% if app.session.flashbag.has('move_error') == true %}

        <div class="alert alert-danger">

          {% for message in app.session.flashbag.get('delete_error') %}

            {{ message }}

          {% endfor %}

        </div>

      {% endif %}

      {% set boards = get_boards() %}
      {% include "TeapotioForumBundle:Board:modules/select.html.twig" with {boards: boards, name: "board_id", class: "input-large"} %}

      <button class="btn btn-danger">{% trans %}Move{% endtrans %}</button>

    </form>
  </div>

  <div class="module round">

    <h3>{% trans %}Access.permissions{% endtrans %}</h3>


    <form action="{{ forum_path('ForumEditBoardPermissions', current_board) }}" method="post">
      <table>
        <tr>
          <th>{% trans %}Groups{% endtrans %}</th>
          <th>{% trans %}Misc{% endtrans %}</th>
          <th colspan="3">{% trans %}Topic{% endtrans %}</th>
          <th colspan="3">{% trans %}Message{% endtrans %}</th>
          <th colspan="3">{% trans %}Board{% endtrans %}</th>
        </tr>

        {% include "TeapotioForumBundle:Board:modules/permissions/columnHeader.html.twig" %}

        {% for group in groups %}
          {% set name = 'permissions[' ~ group.id ~ ']' %}
          {% include "TeapotioForumBundle:Board:modules/permissions/rowGroup.html.twig" with {name: name, group: group, board: current_board} %}
        {% endfor %}
      </table>

      <button class="btn btn-success">{% trans %}Save{% endtrans %}</button>

    </form>

  </div>
{% endblock %}