<li class="{% if board.children.count == 0 %}{% if loop.index0 % 2 %}even{% else %}uneven{% endif %}{% endif %}{% if current_board is defined and current_board is not null and current_board.id == board.id %} selected{% endif %}{% if board.children.count != 0 %} parent-board-wrapper{% else %} childless-board-wrapper{% endif %}">
  <div class="{% if board.children.count != 0 %} parent-board{% if parentClass is defined %} {{ parentClass }}{% endif %}{% else %} childless-board{% if childlessClass is defined %} {{ childlessClass }}{% endif %}{% endif %}">

    {% if board.children.count != 0 %}
      <a href="#" class="expand"><i class="icon-plus" data-toggle-class="icon-minus"></i></a>
    {% endif %}

    <div class="info">
      {% if app.user|can_create_topic(board) %}
        <a href="{{ forum_path('ForumNewTopic', board) }}" class="new-topic to-main">
          <i class="icon-pencil"></i>
          {% trans %}topic{% endtrans %}
        </a>
      {% endif %}

      {#% if app.user|can_create_board(board) %}
        <a href="{{ forum_path('ForumNewBoardInBoard', board) }}" class="new-board to-main"><i class="icon-plus-sign"></i></a>
      {% endif %#}

      {% include "TeapotioForumBundle:Component:statLabels.html.twig" with {total_topics: board.shortTotalTopics, total_messages: board.shortTotalPosts, nowrap: true} %}
    </div>

    <a href="{{ forum_path("ForumListTopicsByBoard", board) }}" class="to-main{% if board.children.count != 0 %} parent-board-link {% if parentLinkClass is defined %} {{ parentLinkClass }}{% endif %}{% else %} childless-board-link {% if childlessLinkClass is defined %} {{ childlessLinkClass }}{% endif %}{% endif %}">{{ board.title }}</a>

  </div>
  {% if board.children.count != 0 %}
    <ul>
      {% for b in board.children %}
        {% include "TeapotioForumBundle:Board:component/listItem.html.twig" with {board: b} %}
      {% endfor %}
    </ul>
  {% endif %}
</li>