<tr class="{% block TopicRow_class %}
  TopicRow
  {% if current_board is defined and current_board is not null and current_board.children.count == 0 %} TopicRow--boardChildless{% endif %}
  {% if is_pinned is defined and is_pinned == true %} is-pinned{% endif %}
{% endblock %}">
  <td class="TopicRow-content">
    {% block TopicRow_content %}
      <div class="TopicRow-content-lastPage">
        {% block TopicRow_content_lastPage_content %}
          {% if messages_per_page is defined %}
            {% set last_page = get_last_page(topic.totalPosts, messages_per_page) %}
            <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}{% if last_page > 1 %}?page={{ last_page }}{% endif %}{% if topic.totalPosts != 0 %}#message-{{ topic.totalPosts }}{% endif %}" class="topic-last-page to-main"><i class="icon-chevron-right"></i></a>
          {% endif %}
        {% endblock %}
      </div>

      {% if current_board is null or current_board.id != topic.board.id %}
        <div class="TopicRow-content-board">
          <a href="{{ forum_path("ForumListTopicsByBoard", topic.board) }}">
            {{ topic.board.shortTitle }}
          </a>
        </div>
      {% endif %}

      <div class="TopicRow-content-title">
        {% if topic.isPinned == true %}
          <span class="TopicRow-states-pinned"></span>
        {% endif %}
        {% if topic.isLocked == true %}
          <span class="TopicRow-states-locked"></span>
        {% endif %}
        {% block TopicRow_content_title_content %}
          <a href="{{ forum_path("ForumListMessagesByTopic", topic) }}{% if topic.totalPosts != 0 %}#{{ topic.totalPosts }}{% endif %}">
            {{ topic.title }}
          </a>
        {% endblock %}
      </div>

      {% if topic.body %}
        <div class="TopicRow-content-body">
          {{ topic.body.body|slice(0, 255) }} {% if topic.body.body|length > 255 %}...{% endif %}
        </div>
      {% endif %}
    {% endblock %}
  </td>

  <td class="TopicRow-author">
    {% block TopicRow_author_content %}
      {% include "TeapotioUserBundle:component:avatar.html.twig"
         with {user: topic.user, size: 40} %}
    {% endblock %}
  </td>

  <td class="TopicRow-responder">
    {% block TopicRow_responder_content %}
      {% if topic.lastUser is not null %}
        {% include "TeapotioUserBundle:component:avatar.html.twig"
           with {user: topic.lastUser, size: 40} %}
      {% endif %}
    {% endblock %}
  </td>

  <td class="TopicRow-statsTotalStars">
    {% block TopicRow_statsTotalStars_content %}
      {% include "TeapotioForumBundle:component:topic/stars.html.twig" with {
        count: topic.shortTotalStars
      } %}
    {% endblock %}
  </td>

  <td class="TopicRow-statsTotalViews">
    {% block TopicRow_statsTotalViews_content %}
      {{ topic.shortTotalViews }}
    {% endblock %}
  </td>

  <td class="TopicRow-statsTotalPosts">
    {% block TopicRow_statsTotalPosts_content %}
      {{ topic.shortTotalPosts }}
    {% endblock %}
  </td>

  <td class="TopicRow-timeSince">
    {% block TopicRow_timeSince_content %}
      {{ topic.lastMessageDate|timeSince(2, true, 31556926) }}
    {% endblock %}
  </td>

  {% if app.user|is_admin or app.user|is_moderator %}
    <td class="TopicRow-actions">
      {% block TopicRow_actions_content %}
      {% endblock %}
    </td>
  {% endif %}
</tr>
