{# the name that appears next to the number of results; if set to null, will not show up #}
{% if typeName is not defined %}
  {% set typeName = "results" %}
{% endif %}


{# the page parameter #}
{% if urlParameter is not defined %}
  {% set urlParameter = "page" %}
{% endif %}


{# how many pages on each side of the current page #}
{% if interval is not defined %}
  {% set interval = 2 %}
{% endif %}


{% if app.request.query.get(urlParameter) is not null %}
  {% set page = app.request.query.get(urlParameter) %}
{% else %}
  {% set page = 1 %}
{% endif %}


{% set totalPerPage = collection.query.maxResults %}
{% set total = collection.count %}
{% set totalPages = total // totalPerPage + 1 %}
{% set route = app.request.get('_route') %}
{% set routeParams = app.request.get('_route_params') %}

<nav class="{% block Pagination_class %}Pagination{% endblock %}">
  <ul>
    {% block Pagination_content %}

      {% if page != 1 %}
        {% if (page - 1) == 1 %}
          <li>
            <a href="{{ path(route, routeParams) }}"
               class="{% if linkClass is defined %} {{ linkClass }}{% endif %}">&lt;</a>
          </li>
        {% else %}
          <li>
            <a href="{{ path(route, routeParams|merge({(urlParameter): (page - 1)})) }}"
               class="{% if linkClass is defined %} {{ linkClass }}{% endif %}">&lt;</a>
          </li>
        {% endif %}
      {% endif %}

      {# if first page isn't within the interval of the current page we show the first page #}
      {% if (page - interval) > 1 %}
        <li>
          <a href="{{ path(route, routeParams) }}"
             class="Pagination-firstPage{% if linkClass is defined %} {{ linkClass }}{% endif %}">1</a>
        </li>
      {% endif %}



      {% if (page - interval) > 2 %}
        <li class="Pagination-space">..</li>
      {% endif %}



      {% if totalPages != 1 %}
        {% for i in (page - interval)..(page + interval) %}
          {% if i > 0 and i <= totalPages %}
            {# If current page #}
            {% if i == page %}
              <li class="Pagination-currentPage is-active">{{ page }}</li>
            {% else %}
              {# If First page we don't show page parameter #}
              {% if i == 1 %}
                <li>
                  <a href="{{ path(route, routeParams) }}"
                     class="{% if linkClass is defined %} {{ linkClass }}{% endif %}">{{ i }}</a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path(route, routeParams|merge({(urlParameter): i})) }}" class="{% if linkClass is defined %} {{ linkClass }}{% endif %}">{{ i }}</a>
                </li>
              {% endif %}
            {% endif %}

          {% endif %}

        {% endfor %}

      {% endif %}


      {# if last page is too far apart from the current page #}
      {% if (page + interval) < (totalPages - 1) %}
        <li class="Pagination-space">..</li>
      {% endif %}



      {# if current page isn't the last page and isn't within the page interval then show the last page number #}
      {% if (page + interval) < totalPages %}
        <li>
          <a href="{{ path(route, routeParams|merge({(urlParameter): totalPages})) }}"
             class="Pagination-lastPage{% if linkClass is defined %} {{ linkClass }}{% endif %}">
            {{ totalPages }}
          </a>
        </li>
      {% endif %}

      {% if page != totalPages %}
        <li>
          <a href="{{ path(route, routeParams|merge({(urlParameter): totalPages})) }}"
             class="{% if linkClass is defined %} {{ linkClass }}{% endif %}">&gt;</a>
        </li>
      {% endif %}



      {% if typeName is not null %}
        <li class="Pagination-total">{{ total }} {{ typeName }}</li>
      {% endif %}

    {% endblock %}
  </ul>
</nav>
