{#
  Required variables:
    - user (from parent template)
    - message
#}

{% extends "TeapotioBaseForumBundle:Message:base/individualMessageRow.html.twig" %}

{# Set a default value #}
{% if show_action_buttons is not defined %}
  {% set show_action_buttons = true %}
{% endif %}


{% block row_class %}
  {% if flag is not null %} message-flagged{% endif %}
{% endblock %}


{% block row_id %}message-{{ message.position }}{% endblock %}

{# Used for prompting user when the message has been flagged or moderated #}
{% block row_prefix %}
  {% if app.user|is_moderator and flag is defined and flag is not null %}
    <div class="alert special error message-flagged">

      <div class="moderation-actions pull-right">
        <a href="{{ path('ForumFlagIgnore', {flagId: flag.id}) }}" class="">{% trans %}Ignore{% endtrans %}</a>
        <a href="{{ path('ForumFlagDelete', {flagId: flag.id}) }}" class="">{% trans %}Delete{% endtrans %}</a>
      </div>
      <i class="icon-flag"></i>
      {% trans with {'%total%': flag.users.count} %}The.message.below.was.flagged.%total%.times{% endtrans %}

    </div>
  {% endif %}
{% endblock %}


{% block row_author_suffix %}
{% endblock %}


{% block row_body %}
  <p>{{ message.body|raw }}</p>
{% endblock %}


{% block row_footer_content %}
  {% include "TeapotioBaseForumBundle:Message:modules/date.html.twig" with {message: message} %}

  {% if show_action_buttons == true %}

    {#% if stars is defined %}
      {% include "TeapotioForumBundle:Message:modules/buttonStar.html.twig" with {message: message, count: stars[message.id]|length} %}
    {% endif %#}

    {% if app.user|can_create_message(message.topic.board) == true %}
      <a href="{{ forum_path("ForumMessageReply", message) }}" class="message-reply">
        <i class="icon-reply"></i>
        {#% trans %}Reply{% endtrans %#}
      </a>
      <a href="{{ forum_path("ForumMessageQuote", message) }}" class="message-quote">
        <i class="icon-quote-left"></i>
        {#% trans %}Quote{% endtrans %#}
      </a>
    {% endif %}

    <a href="{{ forum_path("ForumMessageFlag", message) }}" class="btn-toggle" data-toggle-label=" {% trans %}Flagged{% endtrans %}">
      <i class="icon-flag"></i>
      {#% trans %}Flag{% endtrans %#}
    </a>

    {% if app.user|can_edit(message) == true %}
      {% if message.isTopicBody == true %}
        {% set edit_path = forum_path("ForumTopicEdit", topic) %}
      {% else %}
        {% set edit_path = forum_path("ForumMessageEdit", message) %}
      {% endif %}

      <a href="{{ edit_path }}" class="to-main">
        <i class="icon-pencil"></i>
      </a>
    {% endif %}

    {% if app.user|can_delete(message) == true %}
      <a href="{{ forum_path("ForumMessageDelete", message) }}" class="btn-toggle" data-toggle-label=" {% if message.isDeleted == true %}{% trans %}Delete{% endtrans %}{% else %}{% trans %}Undelete{% endtrans %}{% endif %}">
        <i class="icon-remove"></i>
        {% if message.isDeleted == true %}{% trans %}Undelete{% endtrans %}{% endif %}{#% else %}{% trans %}Delete{% endtrans %}{% endif %#}
      </a>
    {% endif %}
  {% endif %}
{% endblock %}
